{% extends "layout.html"%}
{% load static %}
{% block title %}
{{writer.WriterName}}
{%endblock%}


{%block content%}
<section class="main-content-w3layouts-agileits">
    <div class="container  text-center">
        <img  src="{{ writer.WriterImage.url }}" 
         alt="{{ writer.WriterName }}" 
         class="rounded-circle img-thumbnail mb-2" 
         style="width: 150px; height: 150px; object-fit: cover;">
            <div class="inner-sec">
        <div class="login p-5 bg-light mx-auto mw-100">
            <form action="#" >
              
                    <div class="form-row">
                            <div class="col-md-12 mb-3">
                                    <label for="validationCustom01">Ad Soyad</label>

                                <p>{{writer.WriterName}}</p>
                            </div>
                            
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                            <label for="content" >Yazar Hakkında</label>
                            <p>{{writer.WriterAbout}}</p>
                            </div>
                        </div>
                      
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                    <label for="validationCustom01">Yazarın diğerki blogları</label>
                                    {% for blog in blogs%}
                                    
                                       <a href="{% url 'blog_details'  blog.slug %}"><p>{{blog.BlogTitle}}</p></a> 
                                    {% endfor %}
                            </div>
                            
                        </div>
                       
                    </form>
    
                </div>
        </div>
    </div>
</section>
{%endblock%}